<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pergunta 1</title>
</head>
<body>
    <h1>Pergunta 1</h1>
    <!-- Exemplo: "Qual a capital do Brasil?" -->
    <p>Quantos anos o prof. Caio tem?</p>

    <form method="POST">
        <input type="radio" name="resposta" value="1" required> 50<br>
        <input type="radio" name="resposta" value="2"> 55<br>
        <input type="radio" name="resposta" value="3"> 22<br>
        <input type="radio" name="resposta" value="4"> 15<br>
        <br>
        <button type="submit">Responder</button>
    </form>
</body>
</html>
